[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-allauth = "*"
djangorestframework-jwt = "*"
z3-solver = "*"
dj-database-url = "*"

[requires]
python_version = "3.6"
